.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.nav-list {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: var(--grayish-blue);
  font-size: var(--base-size);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--soft-orange);
}
