body {
  background-color: var(--off-white);
  font-family: "Inter-Regular";
  padding: 3rem 15rem 1rem 15rem;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: 1.5rem 5rem 0.5rem 5rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding: 1.5rem 2rem 0.5rem 2rem;
  }
}
