.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.hero-banner {
  width: 90%;
}

.hero-content {
  display: flex;
}

.hero-content h1 {
  font-family: "Inter-ExtraBold";
  font-size: var(--title-size);
  width: 40%;
}

.hero-content div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.hero-content div p {
  color: var(--grayish-blue);
  font-size: var(--base-size);
  line-height: 1.8rem;
}

.hero-content div button {
  background-color: var(--soft-red);
  border: none;
  color: var(--off-white);
  font-family: "Inter-bold";
  font-size: var(--base-size);
  height: 55px;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 200px;
}

.hero-content div button:hover {
  background-color: var(--vary-dark-blue);
  cursor: pointer;
  transition: ease-in 200ms;
}


@media only screen and (max-width: 1300px) {
  .hero-content h1 {
    font-size: var(--tablet-title);
  }

  .hero-content div p {
    font-size: var(--tablet-base);
  }

  .hero-content div button {
    font-size: var(--tablet-base);
    height: 41.25px;
    padding: 0.5rem;
    width: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-content {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .hero-banner {
    width: 100%;
  }
}
