.blog {
  display: flex;
  gap: 3rem;
  margin-bottom: 4rem;
}

.blog-section {
  display: flex;
  gap: 1.5rem;
  width: 30%;
}

.blog-img {
  height: 150px;
  width: 150px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: justify;
}

.blog-content h3 {
  color: var(--grayish-blue);
  font-family: "Inter-Bold";
  font-size: var(--number-size);
}

.blog-content a {
  color: var(--vary-dark-blue);
  font-family: "Inter-ExtraBold";
  font-size: var(--base-size);
  text-decoration: none;
}

.blog-content a:hover {
  color: var(--soft-orange);
}

.blog-content p {
  font-size: var(--base-size);
}

@media only screen and (max-width: 1000px) {
  .blog {
    flex-wrap: wrap;
  }

  .blog-section {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .blog-section {
    width: 100%;
  }

  .blog-content h3 {
    font-size: var(--tablet-number: );
  }

  .blog-content a {
    font-size: var(--tablet-base);
  }

  .blog-content p {
    font-size: var(--tablet-base);
  }
}

@media only screen and (max-width: 375px) {
  .blog-content h3 {
    font-size: var(--mobile-number: );
  }

  .blog-content a {
    font-size: var(--mobile-base);
  }

  .blog-content p {
    font-size: var(--mobile-base);
  }
}
